In [1]:
import patoolib
from pathlib import Path
from pyunpack import Archive
import os
import shutil 
from pydub import AudioSegment
from zipfile import ZipFile
import librosa
from sklearn.preprocessing import LabelEncoder
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report 
from sklearn import tree
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import linear_model
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import LinearSVC
import pickle

In [2]:
os.getcwd()
os.chdir('audios_fold')

In [3]:
os.getcwd()

'C:\\Users\\HP\\Desktop\\University Work\\Semester_3\\Intro to Data Science\\Assignment_7\\audios_fold'

In [4]:
label_names = os.listdir()

## Converting to MFCC

In [5]:
MFCC_Features = []
audio_name = []
MFCC = []
for i in label_names:
    os.chdir(i)
    audio_path = os.listdir()
    for j in audio_path:
        try:
            x , sr = librosa.load(j)
            s = librosa.feature.mfcc(y=x, sr=sr)
            s1 = s.flatten()
            s1 = np.pad(s1,(0,5000-len(s1)),'constant')
            MFCC_Features.append((i,s1))
            MFCC.append(s1)
        except:
            continue
    os.chdir('..')
print('Done')

Done

### Creating a Dataframe

In [6]:
l1=np.array(MFCC)
l1.shape

(451, 5000)

In [7]:
df = pd.DataFrame(MFCC_Features, columns = ['Label','MFCC'])
df

    Label                                               MFCC
0     A.C  [-665.47974, -665.47974, -665.47974, -665.4797...
1     A.C  [-601.29865, -600.59064, -601.9574, -592.5972,...
2     A.C  [-644.46216, -620.5651, -610.01605, -602.8986,...
3     A.C  [-579.123, -544.7759, -523.15704, -466.77258, ...
4     A.C  [-597.88995, -597.88995, -597.1638, -583.48413...
..    ...                                                ...
446   T.V  [-337.8358, -359.72815, -346.75354, -290.64532...
447   T.V  [-467.10928, -430.4208, -415.42798, -415.02695...
448   T.V  [-463.9789, -432.58646, -419.8192, -419.12408,...
449   T.V  [-469.83334, -437.71652, -427.03687, -418.2046...
450   T.V  [-468.6918, -430.84805, -417.21188, -421.45718...

[451 rows x 2 columns]

In [8]:
df1 = pd.DataFrame(l1)
df1

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,-665.479736,-665.479736,-665.479736,-665.479736,-665.479736,-665.479736,-665.479736,-665.479736,-665.479736,-665.479736,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-601.298645,-600.590637,-601.957397,-592.597229,-579.640259,-590.496582,-602.195190,-602.778687,-603.145813,-602.955750,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-644.462158,-620.565125,-610.016052,-602.898621,-586.071533,-585.792053,-587.385681,-588.664734,-589.855286,-590.911499,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-579.122986,-544.775879,-523.157043,-466.772583,-421.911591,-439.608154,-414.592529,-429.401215,-467.998169,-473.656097,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-597.889954,-597.889954,-597.163818,-583.484131,-568.497437,-564.966064,-572.918274,-574.327759,-569.650696,-568.555664,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,-337.835785,-359.728149,-346.753540,-290.645325,-281.478180,-306.963287,-321.912415,-329.016388,-335.547394,-325.908020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
447,-467.109283,-430.420807,-415.427979,-415.026947,-422.888611,-419.452667,-416.528442,-422.763275,-425.097137,-422.146423,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
448,-463.978912,-432.586456,-419.819214,-419.124084,-419.256256,-416.919312,-416.535095,-417.316956,-422.258759,-421.674072,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
449,-469.833344,-437.716522,-427.036865,-418.204590,-417.676636,-418.251312,-420.750549,-422.031097,-421.577271,-421.085907,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
450,-468.691803,-430.848053,-417.211884,-421.457184,-417.025970,-417.121002,-420.057159,-417.621521,-419.965576,-421.726013,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
frames = [df, df1]
Data = pd.concat(frames,axis=1)
Data

,Label,MFCC,0,1,2,3,4,5,6,7,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,A.C,"[-665.47974, -665.47974, -665.47974, -665.4797...",-665.479736,-665.479736,-665.479736,-665.479736,-665.479736,-665.479736,-665.479736,-665.479736,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,A.C,"[-601.29865, -600.59064, -601.9574, -592.5972,...",-601.298645,-600.590637,-601.957397,-592.597229,-579.640259,-590.496582,-602.195190,-602.778687,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,A.C,"[-644.46216, -620.5651, -610.01605, -602.8986,...",-644.462158,-620.565125,-610.016052,-602.898621,-586.071533,-585.792053,-587.385681,-588.664734,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,A.C,"[-579.123, -544.7759, -523.15704, -466.77258, ...",-579.122986,-544.775879,-523.157043,-466.772583,-421.911591,-439.608154,-414.592529,-429.401215,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,A.C,"[-597.88995, -597.88995, -597.1638, -583.48413...",-597.889954,-597.889954,-597.163818,-583.484131,-568.497437,-564.966064,-572.918274,-574.327759,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,T.V,"[-337.8358, -359.72815, -346.75354, -290.64532...",-337.835785,-359.728149,-346.753540,-290.645325,-281.478180,-306.963287,-321.912415,-329.016388,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
447,T.V,"[-467.10928, -430.4208, -415.42798, -415.02695...",-467.109283,-430.420807,-415.427979,-415.026947,-422.888611,-419.452667,-416.528442,-422.763275,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
448,T.V,"[-463.9789, -432.58646, -419.8192, -419.12408,...",-463.978912,-432.586456,-419.819214,-419.124084,-419.256256,-416.919312,-416.535095,-417.316956,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
449,T.V,"[-469.83334, -437.71652, -427.03687, -418.2046...",-469.833344,-437.716522,-427.036865,-418.204590,-417.676636,-418.251312,-420.750549,-422.031097,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
450,T.V,"[-468.6918, -430.84805, -417.21188, -421.45718...",-468.691803,-430.848053,-417.211884,-421.457184,-417.025970,-417.121002,-420.057159,-417.621521,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Label Encodings

In [10]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
Data['Encoded Label']=le.fit_transform(Data['Label'])
Data

,Label,MFCC,0,1,2,3,4,5,6,7,...,4991,4992,4993,4994,4995,4996,4997,4998,4999,Encoded Label
0,A.C,"[-665.47974, -665.47974, -665.47974, -665.4797...",-665.479736,-665.479736,-665.479736,-665.479736,-665.479736,-665.479736,-665.479736,-665.479736,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,A.C,"[-601.29865, -600.59064, -601.9574, -592.5972,...",-601.298645,-600.590637,-601.957397,-592.597229,-579.640259,-590.496582,-602.195190,-602.778687,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,A.C,"[-644.46216, -620.5651, -610.01605, -602.8986,...",-644.462158,-620.565125,-610.016052,-602.898621,-586.071533,-585.792053,-587.385681,-588.664734,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,A.C,"[-579.123, -544.7759, -523.15704, -466.77258, ...",-579.122986,-544.775879,-523.157043,-466.772583,-421.911591,-439.608154,-414.592529,-429.401215,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,A.C,"[-597.88995, -597.88995, -597.1638, -583.48413...",-597.889954,-597.889954,-597.163818,-583.484131,-568.497437,-564.966064,-572.918274,-574.327759,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,T.V,"[-337.8358, -359.72815, -346.75354, -290.64532...",-337.835785,-359.728149,-346.753540,-290.645325,-281.478180,-306.963287,-321.912415,-329.016388,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
447,T.V,"[-467.10928, -430.4208, -415.42798, -415.02695...",-467.109283,-430.420807,-415.427979,-415.026947,-422.888611,-419.452667,-416.528442,-422.763275,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
448,T.V,"[-463.9789, -432.58646, -419.8192, -419.12408,...",-463.978912,-432.586456,-419.819214,-419.124084,-419.256256,-416.919312,-416.535095,-417.316956,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
449,T.V,"[-469.83334, -437.71652, -427.03687, -418.2046...",-469.833344,-437.716522,-427.036865,-418.204590,-417.676636,-418.251312,-420.750549,-422.031097,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
450,T.V,"[-468.6918, -430.84805, -417.21188, -421.45718...",-468.691803,-430.848053,-417.211884,-421.457184,-417.025970,-417.121002,-420.057159,-417.621521,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3

In [11]:
Data = Data.drop(columns="Label")
Data = Data.drop(columns="MFCC")

In [12]:
Data

,0,1,2,3,4,5,6,7,8,9,...,4991,4992,4993,4994,4995,4996,4997,4998,4999,Encoded Label
0,-665.479736,-665.479736,-665.479736,-665.479736,-665.479736,-665.479736,-665.479736,-665.479736,-665.479736,-665.479736,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,-601.298645,-600.590637,-601.957397,-592.597229,-579.640259,-590.496582,-602.195190,-602.778687,-603.145813,-602.955750,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,-644.462158,-620.565125,-610.016052,-602.898621,-586.071533,-585.792053,-587.385681,-588.664734,-589.855286,-590.911499,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,-579.122986,-544.775879,-523.157043,-466.772583,-421.911591,-439.608154,-414.592529,-429.401215,-467.998169,-473.656097,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,-597.889954,-597.889954,-597.163818,-583.484131,-568.497437,-564.966064,-572.918274,-574.327759,-569.650696,-568.555664,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,-337.835785,-359.728149,-346.753540,-290.645325,-281.478180,-306.963287,-321.912415,-329.016388,-335.547394,-325.908020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
447,-467.109283,-430.420807,-415.427979,-415.026947,-422.888611,-419.452667,-416.528442,-422.763275,-425.097137,-422.146423,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
448,-463.978912,-432.586456,-419.819214,-419.124084,-419.256256,-416.919312,-416.535095,-417.316956,-422.258759,-421.674072,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
449,-469.833344,-437.716522,-427.036865,-418.204590,-417.676636,-418.251312,-420.750549,-422.031097,-421.577271,-421.085907,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
450,-468.691803,-430.848053,-417.211884,-421.457184,-417.025970,-417.121002,-420.057159,-417.621521,-419.965576,-421.726013,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3

## Testing Data

In [13]:
df_test = Data.sample(n=230)
df_test

,0,1,2,3,4,5,6,7,8,9,...,4991,4992,4993,4994,4995,4996,4997,4998,4999,Encoded Label
61,-579.820679,-579.703186,-579.147522,-577.262329,-577.330994,-578.767090,-578.421814,-578.331482,-578.645630,-578.935486,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
427,-516.096130,-492.660339,-495.964996,-505.212555,-508.606140,-507.990601,-512.930115,-510.225342,-511.074402,-516.518982,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
368,-658.600403,-658.600403,-658.600403,-658.600403,-658.600403,-658.600403,-658.600403,-658.600403,-658.600403,-658.600403,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
112,-660.585266,-660.585266,-660.585266,-660.585266,-660.585266,-660.585266,-660.585266,-660.585266,-660.585266,-660.585266,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
330,-592.476746,-565.722778,-549.103027,-547.365906,-546.348938,-542.354187,-530.190308,-528.392334,-529.980896,-531.611877,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,-577.726318,-577.726318,-554.468994,-514.729553,-475.965302,-459.140503,-443.563782,-395.647217,-358.379944,-338.335602,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
118,-629.623596,-629.623596,-629.623596,-629.623596,-629.623596,-629.623596,-629.623596,-629.623596,-629.623596,-629.623596,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
79,-529.223877,-529.223877,-529.223877,-529.223877,-529.223877,-529.223877,-529.223877,-529.223877,-529.223877,-529.223877,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
200,-653.377380,-653.377380,-653.211121,-651.983887,-652.350281,-652.045593,-651.943665,-647.865417,-607.840393,-530.232544,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
298,-639.086670,-639.086670,-639.086670,-639.086670,-639.086670,-639.086670,-639.086670,-639.086670,-639.086670,-639.086670,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2

In [14]:
Y_Test = pd.DataFrame(df_test['Encoded Label'])
Y_Test

     Encoded Label
61               1
427              3
368              3
112              1
330              3
..             ...
187              1
118              1
79               1
200              1
298              2

[230 rows x 1 columns]

In [15]:
X_Test = df_test.drop(columns='Encoded Label')
X_Test

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
61,-579.820679,-579.703186,-579.147522,-577.262329,-577.330994,-578.767090,-578.421814,-578.331482,-578.645630,-578.935486,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
427,-516.096130,-492.660339,-495.964996,-505.212555,-508.606140,-507.990601,-512.930115,-510.225342,-511.074402,-516.518982,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
368,-658.600403,-658.600403,-658.600403,-658.600403,-658.600403,-658.600403,-658.600403,-658.600403,-658.600403,-658.600403,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
112,-660.585266,-660.585266,-660.585266,-660.585266,-660.585266,-660.585266,-660.585266,-660.585266,-660.585266,-660.585266,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
330,-592.476746,-565.722778,-549.103027,-547.365906,-546.348938,-542.354187,-530.190308,-528.392334,-529.980896,-531.611877,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,-577.726318,-577.726318,-554.468994,-514.729553,-475.965302,-459.140503,-443.563782,-395.647217,-358.379944,-338.335602,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
118,-629.623596,-629.623596,-629.623596,-629.623596,-629.623596,-629.623596,-629.623596,-629.623596,-629.623596,-629.623596,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79,-529.223877,-529.223877,-529.223877,-529.223877,-529.223877,-529.223877,-529.223877,-529.223877,-529.223877,-529.223877,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
200,-653.377380,-653.377380,-653.211121,-651.983887,-652.350281,-652.045593,-651.943665,-647.865417,-607.840393,-530.232544,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
298,-639.086670,-639.086670,-639.086670,-639.086670,-639.086670,-639.086670,-639.086670,-639.086670,-639.086670,-639.086670,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Training Data

In [16]:
n = X_Test.index
df_training = Data.drop(n)
df_training

,0,1,2,3,4,5,6,7,8,9,...,4991,4992,4993,4994,4995,4996,4997,4998,4999,Encoded Label
1,-601.298645,-600.590637,-601.957397,-592.597229,-579.640259,-590.496582,-602.195190,-602.778687,-603.145813,-602.955750,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,-644.462158,-620.565125,-610.016052,-602.898621,-586.071533,-585.792053,-587.385681,-588.664734,-589.855286,-590.911499,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,-579.122986,-544.775879,-523.157043,-466.772583,-421.911591,-439.608154,-414.592529,-429.401215,-467.998169,-473.656097,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
5,-702.893127,-685.825806,-649.756531,-609.919434,-586.330444,-582.074463,-583.697144,-589.061218,-585.305054,-583.392090,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
7,-590.041687,-590.041687,-590.041687,-569.730835,-455.421906,-349.894104,-272.147186,-228.277725,-223.830841,-233.641434,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
439,-625.764832,-506.519806,-419.218903,-390.294403,-393.168274,-404.533264,-414.076263,-418.811432,-422.623352,-420.477173,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
444,-466.069580,-464.811279,-462.576019,-459.931946,-460.823273,-458.895599,-403.171173,-382.965546,-423.639313,-462.102814,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
446,-337.835785,-359.728149,-346.753540,-290.645325,-281.478180,-306.963287,-321.912415,-329.016388,-335.547394,-325.908020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
447,-467.109283,-430.420807,-415.427979,-415.026947,-422.888611,-419.452667,-416.528442,-422.763275,-425.097137,-422.146423,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
448,-463.978912,-432.586456,-419.819214,-419.124084,-419.256256,-416.919312,-416.535095,-417.316956,-422.258759,-421.674072,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3

In [17]:
Y_Train = pd.DataFrame(df_training['Encoded Label'])
Y_Train

     Encoded Label
1                0
2                0
3                0
5                0
7                0
..             ...
439              3
444              3
446              3
447              3
448              3

[221 rows x 1 columns]

In [18]:
X_Train = df_training.drop(columns='Encoded Label')
X_Train

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
1,-601.298645,-600.590637,-601.957397,-592.597229,-579.640259,-590.496582,-602.195190,-602.778687,-603.145813,-602.955750,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-644.462158,-620.565125,-610.016052,-602.898621,-586.071533,-585.792053,-587.385681,-588.664734,-589.855286,-590.911499,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-579.122986,-544.775879,-523.157043,-466.772583,-421.911591,-439.608154,-414.592529,-429.401215,-467.998169,-473.656097,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,-702.893127,-685.825806,-649.756531,-609.919434,-586.330444,-582.074463,-583.697144,-589.061218,-585.305054,-583.392090,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,-590.041687,-590.041687,-590.041687,-569.730835,-455.421906,-349.894104,-272.147186,-228.277725,-223.830841,-233.641434,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
439,-625.764832,-506.519806,-419.218903,-390.294403,-393.168274,-404.533264,-414.076263,-418.811432,-422.623352,-420.477173,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
444,-466.069580,-464.811279,-462.576019,-459.931946,-460.823273,-458.895599,-403.171173,-382.965546,-423.639313,-462.102814,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
446,-337.835785,-359.728149,-346.753540,-290.645325,-281.478180,-306.963287,-321.912415,-329.016388,-335.547394,-325.908020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
447,-467.109283,-430.420807,-415.427979,-415.026947,-422.888611,-419.452667,-416.528442,-422.763275,-425.097137,-422.146423,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
448,-463.978912,-432.586456,-419.819214,-419.124084,-419.256256,-416.919312,-416.535095,-417.316956,-422.258759,-421.674072,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
os.getcwd()
os.mkdir('ml_models')

In [20]:
os.getcwd()

'C:\\Users\\HP\\Desktop\\University Work\\Semester_3\\Intro to Data Science\\Assignment_7\\audios_fold'

## KNN

In [21]:
clf1=KNeighborsClassifier()
clf1.fit(X_Train, Y_Train)
pred=clf1.predict(X_Test)
clf1.score(X_Test,Y_Test)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.5869565217391305

In [22]:
pickle.dump(clf1,open("./ml_models/KNN.pkl",'wb'))

In [23]:
pred=clf1.predict(X_Test)
print (pred)
clf1.score(X_Test,Y_Test)

[1 3 2 1 3 0 1 1 2 3 1 3 2 2 3 2 1 1 3 0 3 1 3 1 3 1 2 3 3 3 3 2 0 3 1 1 1
 1 3 1 3 1 2 1 3 3 2 3 1 1 1 3 0 1 1 2 1 1 1 2 2 1 1 2 0 1 0 1 1 0 2 2 1 2
 1 1 1 1 1 1 1 1 1 1 1 3 3 1 1 2 0 1 3 1 0 1 1 1 1 2 1 2 1 3 1 3 3 0 2 1 3
 1 2 1 0 1 1 3 1 3 1 1 3 3 1 2 3 2 2 2 3 3 1 3 2 0 3 2 1 0 2 1 0 3 0 3 0 0
 2 3 2 0 1 2 1 2 3 2 1 3 3 1 3 1 1 0 1 1 1 3 3 2 1 0 3 3 1 1 3 2 1 1 1 1 2
 1 1 0 1 1 3 1 3 1 3 3 3 1 1 2 1 2 3 3 2 3 0 1 2 1 1 2 1 0 0 2 1 1 3 2 3 3
 0 1 1 1 1 1 1 3]

0.5869565217391305

In [24]:
print ("Accuracy : " , accuracy_score(Y_Test,pred)*100)  
print("Report : \n", classification_report(Y_Test, pred))
print("F1 Score : ",f1_score(Y_Test, pred, average='macro')*100)

Accuracy :  58.69565217391305
Report :
               precision    recall  f1-score   support

           0       0.48      0.46      0.47        26
           1       0.72      0.86      0.78        85
           2       0.33      0.33      0.33        42
           3       0.60      0.47      0.53        77

    accuracy                           0.59       230
   macro avg       0.53      0.53      0.53       230
weighted avg       0.58      0.59      0.58       230

F1 Score :  52.65740270892697

## Decision Tree

In [25]:
clf2 = tree.DecisionTreeClassifier()
clf2 = clf2.fit(X_Train, Y_Train)
pred=clf2.predict(X_Test)
clf2.score(X_Test,Y_Test)

0.5173913043478261

In [26]:
pickle.dump(clf2,open("./ml_models/DecisionTree.pkl",'wb'))

In [27]:
pred=clf2.predict(X_Test)
print (pred)
clf2.score(X_Test,Y_Test)

[2 2 2 0 1 0 3 1 1 0 1 2 3 0 3 2 0 3 0 2 0 3 2 0 3 1 0 2 2 1 3 2 3 3 2 2 1
 2 1 1 0 1 0 1 3 2 2 3 1 1 2 3 2 2 0 1 1 2 0 1 2 3 1 2 0 1 0 0 2 0 2 3 2 2
 3 1 1 1 1 1 1 3 1 1 1 1 3 2 1 1 0 3 3 2 1 1 1 1 3 2 3 3 1 2 1 0 2 0 1 1 0
 0 3 3 1 1 2 3 2 2 3 3 3 2 3 2 3 3 3 3 3 3 1 1 2 3 2 2 1 2 0 3 3 2 0 1 1 2
 3 0 0 0 0 2 2 2 3 3 2 2 0 1 3 1 1 1 2 1 0 1 3 3 0 0 3 3 2 1 2 3 1 2 1 3 2
 2 1 0 1 2 3 2 1 3 3 0 0 1 0 3 1 2 3 2 2 2 3 1 3 1 2 3 2 2 0 1 1 0 3 0 3 3
 2 1 1 3 1 1 1 3]

0.5173913043478261

In [28]:
print ("Accuracy : " , accuracy_score(Y_Test,pred)*100)  
print("Report : \n", classification_report(Y_Test, pred))
print("F1 Score : ",f1_score(Y_Test, pred, average='macro')*100)

Accuracy :  51.73913043478261
Report :
               precision    recall  f1-score   support

           0       0.36      0.54      0.43        26
           1       0.66      0.53      0.59        85
           2       0.40      0.60      0.48        42
           3       0.57      0.45      0.51        77

    accuracy                           0.52       230
   macro avg       0.50      0.53      0.50       230
weighted avg       0.55      0.52      0.52       230

F1 Score :  50.17550331169257

## Linear Support Vector Classification

In [29]:
clf3 = LinearSVC()
clf3 = clf3.fit(X_Train, Y_Train)
pred = clf3.predict(X_Test)
clf3.score(X_Test,Y_Test)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\utils\validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\HP\anaconda3\lib\site-packages\sklearn\svm\_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

0.5652173913043478

In [30]:
pickle.dump(clf3,open("./ml_models/LinearSVC.pkl",'wb'))

In [31]:
pred=clf3.predict(X_Test)
print (pred)
clf3.score(X_Test,Y_Test)

[3 3 2 1 3 2 3 1 2 3 1 1 2 0 3 2 1 2 1 0 1 1 3 1 2 3 3 1 3 1 3 2 3 2 0 1 1
 2 3 2 1 1 3 1 3 1 2 1 1 1 3 3 2 1 1 2 1 2 1 2 2 3 1 2 3 1 0 2 2 2 3 1 3 2
 3 1 2 1 1 0 1 1 1 1 1 3 3 3 1 3 3 1 1 1 1 1 1 1 0 0 3 2 1 1 1 3 1 1 3 1 3
 2 1 1 3 2 1 3 1 3 1 1 3 1 3 0 3 2 2 2 3 3 1 3 2 2 2 2 1 2 1 3 0 1 0 1 2 0
 2 1 2 1 3 2 1 2 3 2 1 2 1 1 3 1 1 2 3 3 2 3 3 0 1 2 3 0 3 1 1 3 1 3 1 3 3
 2 3 1 1 2 2 1 3 1 3 0 2 1 3 2 1 2 1 2 3 2 2 1 2 1 2 0 1 0 0 2 1 1 3 3 3 1
 2 1 3 3 2 1 2 2]

0.5652173913043478

In [32]:
print ("Accuracy : " , accuracy_score(Y_Test,pred)*100)  
print("Report : \n", classification_report(Y_Test, pred))
print("F1 Score : ",f1_score(Y_Test, pred, average='macro')*100)

Accuracy :  56.52173913043478
Report :
               precision    recall  f1-score   support

           0       0.41      0.27      0.33        26
           1       0.64      0.67      0.66        85
           2       0.40      0.57      0.47        42
           3       0.66      0.55      0.60        77

    accuracy                           0.57       230
   macro avg       0.53      0.51      0.51       230
weighted avg       0.58      0.57      0.56       230

F1 Score :  51.17716813217805

## Logistic Regression

In [33]:
clf4 = linear_model.LogisticRegression()
clf4 = clf4.fit(X_Train, Y_Train)
pred = clf4.predict(X_Test)
clf4.score(X_Test,Y_Test)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\utils\validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\HP\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.6260869565217392

In [34]:
pickle.dump(clf4,open("./ml_models/LogisticRegression.pkl",'wb'))

In [35]:
pred=clf4.predict(X_Test)
print (pred)
clf4.score(X_Test,Y_Test)

[1 3 3 1 3 0 3 1 2 3 1 1 2 0 3 2 1 3 1 0 1 1 3 1 2 1 3 1 3 1 3 2 3 2 0 1 1
 2 3 2 2 1 3 2 3 0 3 0 1 1 1 3 2 1 1 2 1 2 1 2 2 3 1 2 3 1 0 1 2 0 3 1 3 2
 3 1 1 1 1 1 1 1 1 2 1 3 3 1 1 3 0 1 3 2 1 1 1 1 0 0 3 2 1 1 1 3 1 1 3 2 3
 1 1 1 0 2 1 3 1 3 1 1 3 3 3 0 3 3 2 2 3 3 1 3 2 2 2 2 1 2 1 3 0 1 0 1 2 0
 2 1 0 1 3 2 1 2 3 2 3 2 1 0 3 2 1 2 1 3 2 3 3 3 1 2 3 3 3 1 2 3 3 3 1 3 0
 2 3 1 1 2 2 1 3 1 3 0 2 1 1 2 1 2 0 2 3 2 2 1 3 1 2 0 1 0 0 3 1 1 3 3 3 1
 2 1 3 3 2 1 2 2]

0.6260869565217392

In [36]:
print ("Accuracy : " , accuracy_score(Y_Test,pred)*100)  
print("Report : \n", classification_report(Y_Test, pred))
print("F1 Score : ",f1_score(Y_Test, pred, average='macro')*100)

Accuracy :  62.60869565217392
Report :
               precision    recall  f1-score   support

           0       0.58      0.54      0.56        26
           1       0.70      0.69      0.70        85
           2       0.42      0.55      0.47        42
           3       0.72      0.62      0.67        77

    accuracy                           0.63       230
   macro avg       0.61      0.60      0.60       230
weighted avg       0.64      0.63      0.63       230

F1 Score :  59.97795807153459

## Random Forest

In [37]:
clf5 = RandomForestClassifier()
clf5 = clf5.fit(X_Train,Y_Train)
pred = clf5.predict(X_Test)
clf5.score(X_Test,Y_Test)

C:\Users\HP\AppData\Local\Temp/ipykernel_16684/1708133680.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf5 = clf5.fit(X_Train,Y_Train)

0.6521739130434783

In [38]:
pickle.dump(clf5,open("./ml_models/RandomForest.pkl",'wb'))

In [39]:
pred=clf5.predict(X_Test)
print (pred)
clf5.score(X_Test,Y_Test)

[1 2 1 1 3 1 1 1 3 1 1 2 2 0 3 2 1 1 2 2 2 1 3 1 3 1 1 2 1 1 3 2 3 2 1 1 1
 1 3 1 1 1 1 1 3 3 2 3 1 1 1 3 2 1 1 2 1 2 1 1 2 3 1 2 0 1 1 1 2 1 2 2 1 2
 1 1 1 1 1 1 1 1 1 1 1 1 3 1 2 1 3 1 1 1 1 1 1 1 1 2 3 2 1 2 1 3 2 1 3 1 1
 1 3 1 1 1 1 3 1 2 3 1 3 3 3 3 3 3 2 3 1 3 1 3 2 2 2 2 1 3 1 3 3 1 0 3 1 2
 3 1 2 1 1 2 1 2 1 1 3 2 3 1 3 1 1 3 1 1 1 3 1 1 1 3 3 1 1 1 2 3 1 1 1 1 3
 2 1 1 1 2 2 1 3 1 3 3 1 1 3 3 1 2 1 2 2 2 2 1 3 1 1 1 1 2 3 2 1 1 2 1 3 2
 1 1 1 3 1 1 1 2]

0.6521739130434783

In [40]:
print ("Accuracy : " , accuracy_score(Y_Test,pred)*100)  
print("Report : \n", classification_report(Y_Test, pred))
print("F1 Score : ",f1_score(Y_Test, pred, average='macro')*100)

Accuracy :  65.21739130434783
Report :
               precision    recall  f1-score   support

           0       0.67      0.08      0.14        26
           1       0.65      0.95      0.78        85
           2       0.58      0.69      0.63        42
           3       0.72      0.49      0.58        77

    accuracy                           0.65       230
   macro avg       0.65      0.55      0.53       230
weighted avg       0.66      0.65      0.61       230

F1 Score :  53.20252047329299

## Importing User's Audio

In [53]:
os.chdir('..')

In [54]:
audio = 'myfile.wav'
x , sr = librosa.load(audio)
s = librosa.feature.mfcc(y=x, sr=sr)
s1 = s.flatten()
s1 = np.pad(s1,(0,5000-len(s1)),'constant')

In [55]:
user = pd.DataFrame(s1)
user = user.T
user

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,-399.642975,-381.655823,-407.071747,-422.566589,-437.602203,-454.483215,-460.184082,-456.872986,-460.695038,-459.635315,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Predicting Labels


### Loading Models

In [56]:
os.chdir('audios_fold')

In [57]:
KNN = pickle.load(open("./ml_models/KNN.pkl",'rb'))
DecisionTree = pickle.load(open("./ml_models/DecisionTree.pkl",'rb'))
LinearSVC = pickle.load(open("./ml_models/LinearSVC.pkl",'rb'))
LogisticRegression = pickle.load(open("./ml_models/LogisticRegression.pkl",'rb'))
RandomForest = pickle.load(open("./ml_models/RandomForest.pkl",'rb'))

In [58]:
print(DecisionTree)

DecisionTreeClassifier()

### Predicting

In [59]:
KNN_1 = int(KNN.predict(user))
DecisionTree_1 = int(DecisionTree.predict(user))
LinearSVC_1 = int(LinearSVC.predict(user))
LogisticRegression_1 = int(LogisticRegression.predict(user))
RandomForest_1 = int(RandomForest.predict(user))

In [60]:
predictions = [KNN_1,DecisionTree_1,LinearSVC_1,LogisticRegression_1,RandomForest_1]
predictions

[1, 2, 1, 1, 1]

In [61]:

x = ["KNN","DecisionTree","LinearSVC","LogisticRegression","RandomForest"]
Data = pd.DataFrame(predictions,x)
Data

                    0
KNN                 1
DecisionTree        2
LinearSVC           1
LogisticRegression  1
RandomForest        1

In [62]:
res = max(set(predictions), key = predictions.count)
res

1

## References

For the recording button:
https://blog.addpipe.com/using-recorder-js-to-capture-wav-audio-in-your-html5-web-site/

For website template:
https://nicepage.com/ht/531771/website-design-with-hosting-html-template

For Models:
https://scikit-learn.org/stable/

For pickles:
https://machinelearningmastery.com/save-load-machine-learning-models-python-scikit-learn/